@{
    ViewBag.Title = "About Us";
}

<h2>About Machete</h2>
<p>
     The name 'Machete' was chosen because in much of the Latin American world the machete is the indispensible tool for working the land. 
     It is similar to the pocket knife on the North American farm. From Wikipedia.org:
</p>
<p>
     In tropical and subtropical countries, the machete is frequently used to cut through rainforest undergrowth and for agricultural purposes (e.g. cutting sugar cane). 
     Besides this, in Latin America it is not uncommon to see a machete being used for such household tasks as cutting large foodstuffs into pieces—much as a cleaver is 
     used—or to perform crude cutting tasks such as making simple wooden handles for other tools. It is also common to see people using machetes for their odd jobs such 
     as splitting open coconuts, working the lawns, clearing brush, even shaving, or other related activities.
</p>
