@{
    ViewBag.Title = "About Machete";
}
<p> 
     <strong>About the name:</strong><br />
     The name 'Machete' was chosen because in much of the Latin American world the machete is the indispensible tool for working the land, and a means of protection.
     Similarly, Machete (the application) assists in providing work and, when the wage theft clinic components are added, will also be a means of protection.<br />
     A machete in Latin America is most analogous to the pocket knife on the North American farm. From <a href="http://en.wikipedia.org/wiki/Machete">Wikipedia</a>, 
     "in Latin America a common use [of a machete] is for such household tasks as cutting large foodstuffs into pieces—much as a cleaver is used—or to perform crude cutting tasks 
     such as making simple wooden handles for other tools. It is also common to see people using machetes for other jobs such as splitting open coconuts, working 
     the lawns, [or] clearing brush."<p />
     Although a bit unsettling to American observers, carrying a machete wherever one goes to work in Latin America fields is more understandable when one considers the size, 
     aggressiveness, and lethality of the snakes in the region. See <a href="http://en.wikipedia.org/wiki/Bothrops_asper#Behavior">Terciopelo</a> at Wikipedia for an idea. 
</p>
<p>
     <strong>About the environment:</strong><br />
     Machete is a web application written in Microsoft ASP.NET MVC and C#. It runs on the the Microsoft Internet Information Server (IIS). 
     It uses javascript jQuery for client-side scripting. All that is required to use Machete is a web browser with javascript enabled.
</p>
<p>
     <strong>About the application:</strong><br />
     Machete is Casa Latina's worker dispatch application. It was written by Savage Learning, LLC. in 2011. 
</p>

