@{
    ViewBag.Title = "About Us";
}

<h2>About Machete</h2>
<p>
     About the application:
     Machete is Casa Latina's worker dispatch application. It was written by Savage Learning, LLC. in 2011. 
</p>
     About the environment:
     Machete is a web application written in Microsoft ASP.NET MVC and C#. It runs on the the Microsoft Internet Information Server (IIS). 
     It uses javascript jQuery for client-side scripting. All that is required to use is a web browser with javascript enabled.
<p> 
     About the name:
     The name 'Machete' was chosen because in much of the Latin American world the machete is the indispensible tool for working the land. 
     It is similar to the pocket knife on the North American farm. 
</p>

