@{
    ViewBag.Title = "Machete Docs";
}
<p>
Machete documentation is created from the Machete Wiki using automated tools. See the Wiki tab for more information on the process.

Machete PDFs can be found on github as well:
</p>

<div>
<a href="/Content/documentation/MacheteUserManual-Current.pdf" target="_blank">Machete User Manual v1.9.1
<img style="border: 0pt none; margin-left: 5px; margin-right: 5px;" title="Machete User Manual v1.9.1" src="/Content/Images/pdf.png" alt="pdf.png" width="35" height="35" />
</a>

</div>
 
 <p>
Compressed packages of the Machete documentation in HTML form can be found here:
 </p>

<div>
<a href="/Content/documentation/MacheteUserManual-html-Current.zip" target="_blank">Machete User Manual v1.9.1
<img style="border: 0pt none; margin-left: 5px; margin-right: 5px;" title="Machete User Manual v1.7 (HTML)" src="/Content/Images/zip.png" alt="zip.png" width="35" height="35" />
</a>

</div>


