@{
    ViewBag.Title = "Machete Docs";
}
<p>
<a href="/Content/Documentation/Machete_Manual-v1.2.pdf" target="_blank">Machete User Manual v1.2
<img style="border: 0pt none; margin-left: 5px; margin-right: 5px;" title="Machete User Manual v1.2" src="/Content/Images/pdf.png" alt="pdf.png" width="35" height="35" />
</a>

</p>