@{
    ViewBag.Title = "Home Page";
}
<h1>Welcome to Machete
</h1>
<h2>Please read</h2>
<p>
   <b>Machete is Casa Latina's new application for managing Dayworker Center information.</b> At this time, Machete is under development.
   The most important thing to know is that there are two versions of Machete: Production and Test. 
</p>
<p>
   The Test version has a <b><font color="#800000">RED background</font></b>. You are encouraged to do anything you like in the test version and provide feedback.</p>
<p>
   The Production version has a <b><font color="#5c87b2">BLUE background</FONT></b>. You should not use the production version until you are instructed to do so.
</p>
<p>
   You can reach me (jimmy) by email at jimmy@savagelearning.com. 
</p>
<h3>
Login accounts
</h3>
Every employee and volunteer of Casa Latina will have their own login for Machete. There will be no group accounts (like volunteer1). 
If you need an account, please click <b>logon</b> in the upper right-hand corner, then click <b>register</b> to create an account.

@*<p><div><img src="/Home/Chart" /></div></p>*@