@{
    ViewBag.Title = "Home Page";
}

<div id="homeTabs">
    <ul>
        <li><a href="#newsRef" id="newsTab" >@Machete.Web.Resources.Shared.frontpage</a> </li>
        <li><a href="/Home/Issues" id="issueTab">@Machete.Web.Resources.Shared.issuetracker</a></li>
        <li><a href="/Home/Wiki" id="wikiTab">@Machete.Web.Resources.Shared.wiki</a></li>
        <li><a href="/Home/About" id="aboutTab">@Machete.Web.Resources.Shared.about</a></li>        
    </ul>
    <div id="newsRef">
        <div id="newsAccordion">
            <h3><a href="#">February 14th, 2012 - New features! New Morning Sign-in inteface!</a></h3>
            <div>
            <table id="homeTable_update_20120214" class="display homeNews">
                <thead>
                    <th>Item
                    </th>
                    <th>Area
                    </th>
                    <th>Description
                    </th>
                </thead>
                <tbody>
                <tr>
                    <td class="mui-home-news">
                        <strong>New: Discard changes notification</strong>
                    </td>
                    <td class="mui-home-news">
                        <a href="#">All forms</a>
                    </td>
                    <td class="mui-home-news">
                    Machete will now notify you if you attempt to move away from a page and you have unsaved changes. 
                    The save button will also turn green if there are changes that need to be saved.                
                    </td>      
                </tr>
                <tr>
                    <td class="mui-home-news">
                        <strong>Enhancement: Worker Sign-in interface</strong>
                    </td>
                    <td class="mui-home-news">
                        <a href="/WorkerSignin">WorkerSignin</a>
                    </td> 
                    <td class="mui-home-news">
                    The morning sign-in now uses a dynamic table. 
                    Double-clicking on a worker sign-in row will load the worker's picture.
                    </td>             
                </tr>
                <tr>
                    <td class="mui-home-news">
                        <strong>Enhancement: Work assignment range of hours</strong>
                    </td>
                    <td class="mui-home-news">
                        <a href="/Employer">Employer -> WorkOrder -> WorkAssignment ->Create & Edit</a>
                    </td> 
                    <td class="mui-home-news">
                    Allows for individual job assignments to specify a range of hours. Use this feature if the employer is unsure as to how many hours he needs from the worker. 
                    </td>             
                </tr>
                <tr>
                    <td class="mui-home-news">
                        <strong>Enhancement: Edit work assignments from the dispatch page</strong>
                    </td>
                    <td class="mui-home-news">
                        <a href="/WorkAssignment">Dispatch</a>
                    </td> 
                    <td class="mui-home-news">
                    Dispatchers can now edit work assignments directly from the dispatch page. Dispatchers can also duplicate assignments, delete assignments, or directly associate ANY worker record to a job assignment (assignments without a corresponding worker sign-in).
                    </td>             
                </tr>
                <tr>
                    <td class="mui-home-news">
                        <strong>Enhancement: Edit worker image</strong>
                    </td>
                    <td class="mui-home-news">
                        <a href="/Worker">Worker</a>
                    </td> 
                    <td class=" mui-home-news">
                    Dispatchers can edit a worker's sign-in image from the worker create and edit page.
                    </td>             
                </tr>
                <tr>
                    <td class="mui-home-news">
                        <strong>Enhancement: review worker image from sign-in page</strong>
                    </td>
                    <td class="mui-home-news">
                        <a href="/WorkerSignin">WorkerSignin</a>
                    </td> 
                    <td class=" mui-home-news">
                    Double-clicking on a worker in the sign-in list will load their image.
                    </td>             
                </tr>
                <tr>
                    <td class="mui-home-news">
                        <strong>Enhancement: improved display by compacting layout</strong>
                    </td>
                    <td class="mui-home-news">
                        <a href="#">All forms</a>
                    </td> 
                    <td class="mui-home-news">
                    All forms should be slightly more compact and take less space
                    </td>             
                </tr>
                <tr>
                    <td class="mui-home-news">
                        <strong>Enhancement: Dispatchers can move a work order to a different employer</strong>
                    </td>
                    <td class="mui-home-news">
                        <a href="/Employer">Employer -> Work Orders -> List</a>
                    </td>
                    <td class="mui-home-news">
                    If a volunteer accidently creates a duplicate employer, then creates a work order for the duplicate, a manager can now move the work order to the other employer before deleting the duplicate.
                    </td>               
                </tr>
                <tr>
                    <td class="mui-home-news">
                        <strong>New: Event manager to record Recommendations, Certifications & Sanctions</strong>
                    </td>
                    <td class="mui-home-news">
                        <a href="/Person">Person -> Events</a>
                    </td> 
                    <td class=" mui-home-news">
                    Dispatchers can now create events associated with a worker's membership and performance in the Center. Events can also store multiple document files, scanned documents, and pictures with each event.
                    </td>             
                </tr>
                <tr>
                    <td class="mui-home-news">
                        <strong>New: Reports</strong>
                    </td>
                    <td class="mui-home-news">
                        <a href="/reports">Reports</a>
                    </td> 
                    <td class=" mui-home-news">
                    Annual City of Seattle report, Detailed Worker report (Events, Sign-ins, job assignments), DWC / HHH assignmetn distribution report, Weekly and monthly work order completion status Pie Charts.
                    </td>             
                </tr>
                <tr>
                    <td class="mui-home-news">
                        <strong>Enhancement: Volunteers cannot edit old work orders</strong>
                    </td>
                    <td class="mui-home-news">                        
                        <a href="/Employer">Employers -> Work Orders -> Edit tabs</a>                        
                    </td>
                    <td class="mui-home-news">
                        Access to modify work orders in the past is now restricted to dispatchers. If you need to change
                        a work order and the "date & time needed" is older than the current day, ask a dispatcher for help.
                    </td>             
                </tr>
                <tr>
                    <td class="mui-home-news">
                        <strong>Enhancement: Volunteers cannot delete employers</strong>
                    </td>
                    <td class="mui-home-news">
                        <a href="/Employer">Employers</a>
                    </td>
                    <td class="mui-home-news">
                        Access to delete employers is now restricted to dispatchers. If you creat a duplicate employer,
                        ask a dispatcher to help you migrate any work orders and to delete the duplicate employer.
                    </td>             
                </tr>
                <tr>
                    <td class="mui-home-news">
                        <strong>New: Drop-down for past-worker detail</strong>
                    </td>
                    <td class="mui-home-news">
                        <a href="/Employer">Employers -> Work Orders -> List</a>
                    </td>
                    <td class="mui-home-news">
                        Volunteers can now easily see which workers were previous hired by an employer. When looking at an employer's work orders, 
                        a <img src="/Content/dataTables/details_open.png" alt="+"/> 
                        will appear when it is possible to expand an order and see details about the workers assigned.
                    </td>             
                </tr>
                </tbody>
            </table>
            </div>
            <h3><a href="#">August 23rd, 2011 - New Features! Worker Requests!</a></h3>
            <div>
                <h4>Work Orders can now capture worker requests</h4>
                The work order screen has two new buttons. Add (Requests) and Remove (Requests). The add button opens 
                a dialog to search for a worker. Double click on the worker to add him or her as a requested worker. 
                To remove, highlight the worker and hit the remove button next to the list.
                You must still save changes to the record to save the worker request.
                <h4>Work Order Details and Summary performance improvements</h4>
                Two screens important to the dispatchers have been re-designed for faster response. 
                Additionally, the WorkOrders->Summary tab will now take you two the work orders for a given day.
                Double click on a summary row and see!
                <h4>Work Assignments allow editing of the worker assigned (dispatchers only)</h4>
                A new accordion menu is available to dispatchers to edit the worker assigned to a work assignment. 
            </div>
            <h3><a href="#">August 15th, 2011 - Order-taking procedure change regarding printing</a></h3>
            <div>
                <h4>Duplicate paper copies causing errors</h4>
                Volunteers, please take a moment and read the notices posted regarding printing, or talk with a dispatcher.<br />
                <h4>WorkOrder Details Tab</h4>                
                The WorkOrders->Details tab should be much, much faster now.<br />
                To see a the current day's orders, click "All" and put the date in the search box.<br />
                <p><strong>Use this format "MM/DD/YYYY"</strong></p>
                <h4>Alternate (paper) order ID</h4>                
                New and existing work orders now have an alternate ID. The id can be changed to match a paper ID.<br />
                Re-using an ID does not cause an error, but it will in the future.<br />
                <h4>DateTimePicker bug fixed</h4> 
            </div>
            <h3><a href="#">July 20th, 2011 - Many updates, please read</a></h3>
            <div>
                <h4>Application updates</h4>
                -Fixed blank Chambita duplicate bug that failed to copy hours and days
                -Modified phone number validation filter -- will be more restrictive
                -Fixed "blank Updatedby" field when WorkOrders are activiated<br />
                -Fixed Manager/Administrator accordions in the Work Order form<br />
                -Added Createdby/Updatedby information to WorkOrder footer when printing<br />
                -Added total (Hourly wage * hours * days) to WorkAssignment form and WorkOrder printing<br />
                -Ordered Skills dropdown based on frequency of selection -- most requested skills are at the top of the list<br />
                -Ordered Transportation dropdown based on frequency<br />
                -Added 'Worker walks' option for transportation<br />
                -Added Fancy home page display<br />     
                -Added "participate in blog" field for Employer<br />
                -Removed "Type of Work" from WorkOrder (redundant, inferred from Assignment skill)<br />
                <h4>Currently in development</h4>
                -Worker Requests and Worker -> Work Assignment functionality<br />
                -Auto-save / unsaved data pop-up warning<br />
                -Pseudo IDs for WorkOrders and Work Assignments (Richard Park's request)<br />
                -Unified naming for the save button (was "create" on the create page)<br />
                <h4>Server updates</h4>
                -Completed data entry for Worker Signins for previous year 7/1/2010 - 6/30/2011 (Thanks Raul!)<br />
                -Completed United Way Demographics report (available from SQL Server ODBC connection)<br />
                -Completed Report views for Employers & Work Orders (via ODBC)<br />
            </div>
            <h3><a href="#">June 2nd, 2011- Machete open for taking orders</a></h3>
            <div>
                <p>
                   Machete is Casa Latina's new application for managing Dayworker Center information.<b> Machete can be used to enter and print orders.</b>
                   A printed copy is still required at this time to support the existing work order process.
                </p>
                <p>
                   The Production <a href="http://machete/">machete</a> has a <b><font color="#414D5B">DARK BLUE-GREY background</FONT></b>. You should the production version to take real orders.
                </p>
                <p>
                   The Test <a href="http://machete:4242/">machete</a> has a <b><font color="#800000">RED background</font></b>. You are encouraged to do anything you like in the test version and provide feedback.
                </p>
                <p>
                   You can reach me (jimmy) by email at jimmy@savagelearning.com. 
                </p>
            </div>
            <h3><a href="#">Login accounts</a></h3>
            <div>
                Every employee and volunteer of Casa Latina will have their own login for Machete. There will be no group accounts (like volunteer1). 
                If you need an account, please click <b>logon</b> in the upper right-hand corner, then click <b>register</b> to create an account.
            </div>
        </div>
    </div>
</div>




<script type="text/javascript">
    $(document).ready(function () {
        $('#homeTabs').tabs();
        $('#newsAccordion').accordion({ collapsible: true });
        $('.display, .homeNews').dataTable({
            "bLengthChange": false,
            "bPaginate": false
          });
    });
</script>