@{
    ViewBag.Title = "Home Page";
}
<h1>Welcome to Machete
</h1>

<h2>Production Machete is <b>open</b> for taking orders</h2>

<p>
   Machete is Casa Latina's new application for managing Dayworker Center information.<b> Machete can be used to enter and print orders.</b>
   A printed copy is still required at this time to support the existing work order process.
</p>
<p>
   The Production <a href="http://machete/">machete</a> has a <b><font color="#414D5B">DARK BLUE-GREY background</FONT></b>. You should the production version to take real orders.
</p>
<p>
   The Test <a href="http://machete:4242/">machete</a> has a <b><font color="#800000">RED background</font></b>. You are encouraged to do anything you like in the test version and provide feedback.
</p>
<p>
   You can reach me (jimmy) by email at jimmy@savagelearning.com. 
</p>
<h3>
Login accounts
</h3>
Every employee and volunteer of Casa Latina will have their own login for Machete. There will be no group accounts (like volunteer1). 
If you need an account, please click <b>logon</b> in the upper right-hand corner, then click <b>register</b> to create an account.

@*<p><div><img src="/Home/Chart" /></div></p>*@