@{
    ViewBag.Title = "Machete Issues";
}
<p>
The Machete Issue Tracker is hosted at <a href="http://machete.codeplex.com/workitem/list/advanced" target="_blank">Codeplex.com</a>. The Wiki is there too.
</p>