@{
    ViewBag.Title = "Machete Issues";
}
<p>
The Machete Issue Tracker is hosted at <a target="_blank" href="https://bitbucket.org/SavageLearning/machete/issues">BitBucket</a>. The Wiki is there too.
</p>