@{
    ViewBag.Title = "Machete Issues";
}
<p>
Machete uses the Issue Tracker that Github provides to open source projects in order to track problems with Machete code. 
The issue tracker is open for anyone to read, but requires a Github account in order to create issues. Once an issue is created,
it can be monitored using the features provided by github.

The Machete Issue Tracker located <a href="http://github.com/savagelearning/machete/issues" target="_blank">here</a> at github.com.
</p>