@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Not Found</title>
</head>
<body>
    <div>
        404 Not Found
    </div>
    <div>
        Styling also not found
    </div>
</body>
</html>
