@{
    ViewBag.Title = "Machete Wiki";
}
<p>
The Machete Wiki is the source of Machete's User Manual and Installation Manual. The wiki allows multiple interested parties
to collaborate on Machete's documentation, while tracking all changes in the same manner (git) as the Machete code base. The
documentation is periodically processed using open source document tools to create the PDFs and web-based documentation 
pages.

The <a href="http://github.com/savagelearning/machete/wiki" target="_blank">Machete Wiki</a> is hosted at Github.com.
Machete uses <a href="http://sphinx-doc.org/" target="_blank">Sphinx</a> to generate the PDFs and HTML version of the documentation.
</p>