@{
    ViewBag.Title = "Machete Wiki";
}
<p>
The Machete Wiki is hosted at <a href="http://machete.codeplex.com/documentation" target="_blank">Github.com</a>. The issue tracker is there too.
</p>