@{
    ViewBag.Title = "Machete Wiki";
}
<p>
The Machete Wiki is hosted at <a target="_blank" href="https://bitbucket.org/SavageLearning/machete/wiki/Home">BitBucket</a>. The issue tracker is there too.
</p>