<body>
    <app-root></app-root>
    <script type="text/javascript" src="/Content/bundles/inline.bundle.js"></script>
    <script type="text/javascript" src="/Content/bundles/polyfills.bundle.js"></script>
    <script type="text/javascript" src="/Content/bundles/scripts.bundle.js"></script>
    <script type="text/javascript" src="/Content/bundles/styles.bundle.js"></script>
    <script type="text/javascript" src="/Content/bundles/vendor.bundle.js"></script>
    <script type="text/javascript" src="/Content/bundles/main.bundle.js"></script>
</body>