#OS junk files
[Tt]humbs.db
*.DS_Store
*.cache
Machete.suo
Machete.Api/
*.Web.Publish.xml
*/Properties/PublishProfiles/*.user
# Build results
[Dd]ebug/
[Rr]elease/
[Pp]ackages/
obj/*
build/
node_modules/

log.txt*
#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
.vs/

*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

#Project files
[Bb]uild/

#Subversion files
.svn

# Office Temp Files
~$*

#NuGet
packages/
/Machete.Web/log.txt
/Machete.Web/log.txt
/Machete.suo

/Machete1.vsmdi
/Machete.WebOld

#sensitive secure data
*/connections.config

#annoying binary files somehow still being created
*/ASPNETDB.MDF
*/aspnetdb_log.ldf

MWS.Service_1_TemporaryKey.pfx
*.MDF
*.ldf


Machete.Test/randomized.csv
Machete.Test/powershell_stderr.txt
Machete.Test/powershell_stdout.txt
Machete.Test/randomized_dates.csv
Machete.Test/randomized_names.csv
Machete.Test/randomized_nums.csv
Machete.Test/BeanShell Sampler.jmx
.vscode/
*/node_modules/*


Identity/appsettings\.config
