@model Machete.Domain.Worker
@using Machete.Web.Resources
@using (Html.BeginForm("Create", "Worker", FormMethod.Post, new { @id = "workerCreateForm", enctype = "multipart/form-data" }))
{
    <div class="mui-button-row">
        <input type="submit" id="createWorkerBtn"  class="formButton saveBtn" value="@Workers.createsubmit" tabindex="9"/>
    </div>
    @Html.ValidationSummary(true)
    @Html.EditorForModel()
}
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $('.formButton').button();
        $.validator.unobtrusive.parseDynamicContent('#workerCreateForm');        
        //$('#firstname1').focus();
        ////////////////////////////////////////////////////////////////
        //
        // Worker Create submit event
        //
        $('#workerCreateForm').submit(function (e) {
            e.preventDefault();           
            if ($('#workerCreateForm').valid()) {

                $.post($(this).attr("action"), $(this).serialize(),
                    function (data) {                                                
                    }
                );
                var oTabs = $(e.target).closest('.ui-tabs');                
                $(oTabs).tabs("select", 0);
                $(oTabs).tabs("url", 1, "/Worker/Edit/@(Model.ID)");
                var createtab = $(oTabs).children('.ui-tabs-nav').find('a').get('1');
                $(createtab).text("@(Persons.workerinfo)");
            }
            //TODO: javascript...need to deal with ajax error
        });
    });
</script>