/*----------------------------------------------------------
The base color for this template is #414D5B. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color. Deep red is #696969
the blue back ground #5c87b2
Deep red background #800000
----------------------------------------------------------*/
input::-webkit-input-placeholder {
    color: red;
}

input:-moz-placeholder {
    color: red;
}

input:-ms-input-placeholder {
    color: red;
}
/* _Layout.cshtml -- style for all page bodies  */
body {
    background-color: #414D5B;
    font-size: 75%;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif, sans-serif;
    margin: 0;
    padding: 0;
    color: #607286;
}

.casaLogo {
    float: left;
    width: 125px;
    clear: left;
    padding: 0;
}

a:link {
    color: #034af3;
    text-decoration: underline;
}

a:visited {
    color: #505abc;
}

a:hover {
    color: #1d60ff;
    text-decoration: none;
}

a:active {
    color: #12eb87;
}

p, ul {
    margin-bottom: 20px;
    line-height: 1.6em;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #000;
}

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    padding: 0 0 10px 0;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2 {
    margin-top: 0;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page {
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}

#header {
    position: relative;
    margin-bottom: 0;
    color: #000;
    padding: 0;
}

    #header h1 {
        font-weight: bold;
        padding: 5px 0;
        margin: 0;
        color: #fff;
        border: none;
        line-height: 2em;
        font-size: 32px !important;
    }

#main {
    padding: 0 1em 1em 1em;
    background-color: #414d5b;
    margin-bottom: 30px;
    _height: 1px; /* only IE6 applies CSS properties starting with an underscore */
}

#footer {
    clear: both;
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0;
    font-size: .9em;
}

/* TAB MENU   
----------------------------------------------------------*/
#menulinkhome {
    background: url(machete_1_close_crop.png) no-repeat top left;
    display: block;
    width: 202px;
    height: 69px;
}

#menulinkhome:hover,#menulinkhome:visited,#menulinkhome:link,#menulinkhome:active
{
    color: #414d5b;
    text-decoration: none;
}

ul#menu {
    padding-bottom: 3px;
    position: relative;
    margin: 0 1em 0;
    text-align: right;
}

    ul#menu li {
        display: inline;
        list-style: none;
        border-radius: 1em;
    }

        ul#menu li#greeting {
            padding: 10px 20px;
            font-weight: bold;
            text-decoration: none;
            line-height: 2.8em;
            color: #fff;
        }

        ul#menu li a {
            border-radius: .7em;
            padding: 10px 10px;
            font-weight: bold;
            text-decoration: none;
            line-height: 2.8em;
            background-color: #e8eef4;
            background: linear-gradient(#e8eef4, #4f4f5b);
            color: #30303A;
        }

            ul#menu li a.menulinkactive {
                background-color: #d7d6fe;
            }

            ul#menu li a:hover {
                background-color: #fff;
                text-decoration: none;
            }

            ul#menu li a:active {
                background-color: #a6e2a6;
                text-decoration: none;
            }

        ul#menu li.selected a {
            background-color: #fff;
            color: #000;
        }

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

.emailField {
    border: 1px solid #ccc;
    background: #fcfcfc;
    width: 400px;
}


legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.emailField.bodyDisplay {
        width: 400px;
    height: 10em;
}
textarea.emailField {
    width: 400px;
    height: 10em;
}

input[type="text"].emailField {
    width: 400px;
}

input[type="text"] {
    width: 200px;
    border: 1px solid #CCC;
}

    input[type="text"].personEditor {
    }

    input[type="text"].workerEditor {
        width: 6em;
        border: 1px solid #CCC;
        padding: .2em .2em 0;
    }

select.workerEditor {
    width: 6em;
    border: 1px solid #CCC;
    padding: .2em .2em 0;
}

input[type="password"] {
    width: 200px;
    border: 1px solid #CCC;
}

/* TABLE
----------------------------------------------------------*/

table {
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

    table td {
        padding: .25em .5em;
        border: solid 1px #e8eef4;
    }

    table th {
        padding: .25em .5em;
        text-align: left;
        background-color: #e8eef4;
        border: solid 1px #e8eef4;
    }

/* MISC  
----------------------------------------------------------*/

.person-help {
  word-wrap: break-word;
  width: 160px;
  padding: 0;
  margin: 0;
  font-size: .8em;
  vertical-align: middle;
  display: none;
}

.clear {
    clear: both;
}

.error {
    color: Red;
}

#menucontainer {
    margin-top: 3em;
    clear: left;
}

div#title {
    background-image: url(machete_1_close_crop.png);
    display: block;
    float: left;
    text-align: left;
    text-decoration: none;
    padding: 0 0 0 0;
    margin-left: .5em;
}

div.recordButtons {
    padding: 1em 0em;
}

#logindisplay {
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 10px;
    color: White;
    padding-top: 12px;
}

    #logindisplay a:link {
        color: white;
        text-decoration: underline;
    }

    #logindisplay a:visited {
        color: white;
        text-decoration: underline;
    }

    #logindisplay a:hover {
        color: white;
        text-decoration: none;
    }

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/

/* Used for description labels on forms  */
.desc-label {
    vertical-align: top;
    width: 8em;
}
/* Used for description fields on forms  */
.desc-field {
    /*width: 20em;*/
    height: 2em !important;
}
.email-field {
    height: 30em !important;
    width: 40em;
    border: 1px solid #CCC;
}
/* Used on workorder and workassignment;   */
.money-field {
    width: 5em !important;
}
/*   */
.text-box {
    width: 30em;
}

.tb-table {
    display: table;
    font-size: 1em;
}

.tb-row {
    display: table-row;
}

.tb-cell, .tb-cell-nospace {
    display: table-cell;
}

.tb-cell-nospace {
    padding: .2em .4em;
    margin: 0;
}

.tb-cell-bigger-text {

    font-size: 1.4em;
}

.tb-label {
    /*border: 1px solid red;*/
    width: 13em;
    margin: 0;
    font-weight: bold;
    font-size: 90%;
    padding: 1px;
    text-align: right;
    display: table-cell;
}

    .tb-label.mui-home-news {
        font-size: 100%;
        padding-right: 15px;
        border: 3px black;
    }

.tb-field.mui-home-news {
    font-size: 90%;
    padding-bottom: 8px;
}

    .tb-field.mui-home-news a:link {
        width: 200px;
    }

.tb-header {
    border: 1px solid black;
    margin: 1em 0 0 0;
    font-weight: bold;
    padding: 5px;
    text-align: left;
    display: table-cell;
}
/* WorkOrder view, formats workAssignment list */
.tb-header-fixed {
    border: 1px solid black;
    margin: 1em 0 0 0;
    font-weight: bold;
    padding: 5px;
    text-align: left;
    width: 80px;
    font-size: 80%;
    display: table-cell;
}

.tb-field {
    /*border: 1px solid blue;*/
    margin: 0.5em 0 0 0;
    padding: 1px;
    display: table-cell;
    /*font-weight: bold;*/
    /*width: 20em;*/
}

input[type="text"].ui-datepicker {
    width: 6em;
}
/* WorkOrder view, formats workAssignment list */
.tb-field-fixed {
    /*border: 1px solid blue;*/
    margin: 0.5em 0 0 0;
    padding: 5px;
    /*font-weight: bold;*/
    width: 80px;
    text-align: center;
    display: table-cell;
}
/* WorkOrder view: underline blank worker namespace  */
.tb-underline {
    font-weight: bold;
    text-decoration: underline;
    display: table-cell;
}
/* WorkOrder view  */
.tb-bordered_field {
    border: 1px solid #CCC;
    margin: 1em 0 0 0;
    padding: 5px;
    text-align: left;
    display: table-cell;
}

.tb-display {
    margin: 0.5em 0 0 0;
    display: table-cell;
}

.tri-col,
.tri-col select,
.tri-col input[type="text"] {
    width: 200px;
}

.print-off {
}

.print-on {
    background: white;
    margin: 0;
    width: 100%;
}

.print-text {
    color: #000 !important;
}

input.ui-button.dispatchButton {
    float: left;
}

.ui-button-text-only .ui-button-text .ui-buttonset {
    padding: .5em;
    float: left;
}
/* dispatch: formatting for the radio buttons */
.ui-buttonset {
    padding: .5em;
    float: left;
}

.completeOrderContainer {
    display: block;
}
/* Activate button on workorder  */
.completeOrderButton {
    width: 100%;
    margin: 10px 0;
    padding: 10px !important;
    border: 1px solid red !important;
    color: Red !important;
}
/* Delete button formatting */
.deleteButton {
    float: right;
}

.dialogPopup {
}
/* Person page
----------------------------------------------------------*/
.mui-activities-join-btn {
    margin: 5px;
}

    .mui-activities-join-btn button {
        padding: 10px;
        width: 7em;
    }

        .mui-activities-join-btn button.leftArrow span.ui-icon {
            float: left;
        }

        .mui-activities-join-btn button.leftArrow span.ui-button-text {
            float: right;
        }

        .mui-activities-join-btn button.rightArrow span.ui-icon {
            float: right;
        }

        .mui-activities-join-btn button.rightArrow span.ui-button-text {
            float: left;
        }

.actDataEntryTab {
    float: left;
}

.mui-activities-join-box {
    margin-top: 7em;
    float: left;
}

div.mui-activities-join-btn button span {
    border: 10px;
}

div.mui-event-edit-label {
    width: 6em;
}
/* Events: the dropdown for the recommendation type */
div.mui-event-edit-field select {
    width: 10em;
}
/* Events: Notes for the record */
div.mui-event-edit-textarea textarea.desc-field {
    width: 30em;
}
/* Events: container for all the images and info  */
mui-event-image-gallery {
    float: left;
    border-collapse: separate;
    border-spacing: 5em;
}
/* Events: image row container */
div.mui-event-image-row {
    /* margin, border, and padding do nothing for the table-row */
}
/* Events: div for each image in the event */
div.mui-event-image-item img, .mui-event-image-item {
    margin: 5px 5px 5px 10px;
    vertical-align: top;
}
/* Events: table next to the images, one table for each image */
div.mui-event-image-text-table {
    float: left;
    clear: left;
    padding-bottom: 5px;
}
/* Events: table next to the images, label */
div.mui-event-image-text-row-label {
    width: 7em;
    margin: 0 0 0 0;
    padding: 1px;
    text-align: right;
    font-size: 90%;
}
/* Events: table next to the images, field */
div.mui-event-image-text-row-field {
    margin: 0 0 0 0;
    padding: .2px;
    width: 120px;
    text-align: center;
}
    /* Events: table next to the images, field */
    div.mui-event-image-text-row-field input[type="text"] {
        width: 20em;
    }
/* Worker page
----------------------------------------------------------*/
.highlightSave {
    color: #980000  !important;
    border: 1px solid #980000  !important;
    font-weight: bolder !important;
}

.mui-button-row {
    clear: left;
}

.mui-edit-block {
    float: left;
}

.mui-edit-worker-picture {
    float: left;
    padding: 0 2em 2em 2em;
}

.mui-edit-worker-footer {
    clear: left;
}

/* Worker Signin ----------------------------------------------------------*/
.mui-signin-imagebox {
    float: left;
    width: 200px;
    margin: 83px 10px;
}

/* WorkOrder --------------------------------------------------------------*/

/* WorkOrder/View: Box floating in upper right */
.dateNeeded {
    float: right;
    /*border: 1px solid Black;*/
    margin: 0;
    padding: 0;
}

/* WorkOrder/View: Box floating in upper right */
.neededText {
    font-size: 1.5em;
    color: #000;
    margin: 2px;
}

/* WorkOrder - DateTimePicker popup box */
.ui-timepicker-div .ui-widget-header {
    margin-bottom: 8px;
}

.ui-timepicker-div dl {
    text-align: left;
}

    .ui-timepicker-div dl dt {
        height: 25px;
    }

    .ui-timepicker-div dl dd {
        margin: -25px 0 10px 65px;
    }

.ui-timepicker-div td {
    font-size: 90%;
}

#ui-datepicker-div {
    display: none;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

/**/
/**/ /*Settings*/
/**/

.index-padding-thick {
    padding: 4em 8em 8em;
}

.partial-background-white {
    background: white;
}

.a-block-nodecoration {
    display: block;
    line-height: 1em;
    text-decoration: none !important;
}

/**/
/**/ /*Reports*/
/**/

.report-button {
    background: linear-gradient(#e8eef4, #9f9fae) !important;
    color: #303030 !important;
}

.report-chart {
    clear: both;
    margin: 0;
    border: 0;
    padding: 0;
}

.report-chart-inner {
    display: inline-block;
}

.report-chart-inner-only {
    display: block;
}

.report-data {
    clear: both;
    margin: 0;
    border: 0;
    padding: 0;
}

.report-em {
    font-weight: 700;
}


.report-subtitle {
    clear: both;
}

.report-table-header {
    background: linear-gradient(#efefff, #cfcfdf) !important;
}

.report-wrapper {
    clear: both;
}

.report-datepicker, .report-datepicker-weekly, .assignment-datepicker {
    height: 2em;
    width: 6em !important;
    padding: 0;
    border-radius: .5em;
    text-align: center;
    font-weight: bold;
}

.report-inline {
    display: inline;
}

.report-drill {
    margin-left: auto;
    margin-right: 0;
    background: #90A2B6;
    border: solid 2px gray;
    border-collapse: separate;
}

.report-align-right {
    text-align: right;
    float: right;
}

.report-instructions,
.report-padding-left-half {
    padding-left: .5em
}

.report-tip {
    background: #A2B3C6;
    border-radius: .5em;
    clear: both;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    margin: 0 .5em;
    padding: .2em .5em .2em;
}

.report-top {
    margin-bottom: 1em;
}

.report-top-div-left {
    float:left; 
    width:60%;
}

.report-top-div-right {
    float:left; 
    width:40%;
}

.report-top-text {
    font-style: italic;
    font-weight: bold;
}

/**/
/**/ /* MISCELLANY */
/**/
.font-larger {
    font-size: 1.2em;
}

.list-fleshy {
    margin: 0 3em;
    padding: .3em;
    border: .1em solid gray;
    border-radius: .5em;
    font-size: 1.2em;
}

.home-container
{
    padding: 0 0 0 1.5em !important;
    font-size: 1.2em;
}

.home-title-main
{

}

.home-text-main
{
    display: inline-block;
    max-width: 480px;
    min-width: 260px;
}

.home-image-main
{
    display: inline-block;
    min-width: 30%;
    max-width: 45%;
    margin-left: 5em;
    margin-right: 3em;
    vertical-align: top;
}

.home-version
{
    font-size: .8em;
}

.wsi-content
{
    background-color: #eeeeee;
    min-height: 420px;
    border-radius: .5em;
    padding-top: 1em;
}

.wsi-dwccardnum, .wsi-datepicker
{
    height: 2em;
    width: 6em !important;
    padding: 0;
    border-radius: .5em;
    text-align: center;
    font-weight: bold;
}

.wsi-image
{
    max-width: 200px;
    vertical-align: top;
    margin-left: 2em;
}

.wa-content
{
    background-color: #eeeeee;
    min-height: 420px;
    border-radius: .5em;
}

.account-background
{
    background-color: #efeeee;
    padding: 2em;
    border-radius: .5em;
}

.dt-smallcol {
    max-width: 15px;
}

.wa-table-image-left {
    margin-left: 2em;
    margin-right: .5em;
}

.wa-table-image-right {
    margin-left: .5em;
    margin-right: 0;
}