<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>MacheteUi</title>
    <base href="/V2">

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="icon" type="image/x-icon" href="~/Content/bundles/assets/layout/images/favicon.png">

    <!-- Layout CSS -->

    <link id="theme-css" rel="stylesheet" type="text/css" href="/Content/bundles/assets/theme/theme-dark-blue.css">
    <link id="layout-css" rel="stylesheet" type="text/css" href="/Content/bundles/assets/layout/css/layout-dark-blue.css">
    <link rel="stylesheet" href="~/Content/bundles/angular-css.js">
</head>
@RenderBody()
</html>
