@using Machete.Web.Helpers
@using Machete.Web.Resources
@using Machete.Domain.Resources
@using Machete.Service
@{
    System.Globalization.CultureInfo CI = (System.Globalization.CultureInfo)Session["Culture"];
}
<div id="confirmDialog" class="dialogPopup">

    <h1>HIHIHIHI</h1>
</div>