<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Database=aspnetdbDevTest;Trusted_Connection=true" providerName="System.Data.SqlClient" />
    <add name="macheteConnection" connectionString="data source=.\SQLEXPRESS;Database=machete;Trusted_Connection=true;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
    <add name="ELMAHlog" connectionString="data source=.\SQLEXPRESS;Database=machetelog;Trusted_Connection=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="EmailServerHostName" value="smtp.gmail.com" />
    <add key="EmailServerPort" value="587" />
    <add key="EmailEnableSSL" value="true" />
    <add key="EmailAccount" value="testaccount@gmail.com" />
    <add key="EmailPassword" value="" />
  </appSettings>
</configuration>