<?xml version="1.0" ?>
<nlog autoReload="true" throwExceptions="true" internalLogFile="C:\MaceteWindowsService_nlog_internal.txt" internalLogLevel="Debug"
			internalLogToConsole="true">
	<extensions>
		<add assembly="NLog.Extended" />
	</extensions>
	<targets>
		<target name="f1" type="File" fileName="C:\MacheteWindowsService_Nlog.txt">
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" appendTo="f1" />
	</rules>
</nlog>