/****** Script for SelectTopNRows command from SSMS  ******/
SELECT *
  FROM [dbo].[AspNetUsers]
  where id = '1F6D3643-B6DE-4951-A0A6-F63740D45A46'

  select * 
  from employers
  where id = 2101

  update employers
  set onlineSigninID = '1F6D3643-B6DE-4951-A0A6-F63740D45A46'
  where id = 2101