<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Concord</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://concord.machetessl.org</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>macheteprod.cloudapp.net</MSDeployServiceURL>
    <DeployIisAppPath>machete-concord</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>machete</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ELMAHlog" Order="1" Enabled="False">
          <Destination Path="Data Source=o68f62alva.database.windows.net;Initial Catalog=machete_concord;Persist Security Info=True;User ID=ndlonmachete;Password=***REMOVED***" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;Initial Catalog=machete_test;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ELMAHlog_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;Initial Catalog=machete_test;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MacheteConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=o68f62alva.database.windows.net;Initial Catalog=machete_concord;Persist Security Info=True;User ID=ndlonmachete;Password=***REMOVED***" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Machete.Data.MacheteContext, Machete.Data" MigrationConfiguration="Machete.Data.MacheteConfiguration, Machete.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <_DestinationType>AzureVirtualMachine</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ELMAHlog-Web.config Connection String">
      <ParameterValue>Data Source=o68f62alva.database.windows.net;Initial Catalog=machete_concord;Persist Security Info=True;User ID=ndlonmachete;Password=***REMOVED***</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MacheteConnection-Web.config Connection String">
      <ParameterValue>Data Source=o68f62alva.database.windows.net;Initial Catalog=machete_concord;Persist Security Info=True;User ID=ndlonmachete;Password=***REMOVED***</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>