@model Machete.Web.ViewModel.Image

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>



<div id="superfoo">
@Html.EditorFor(model => model)
</div>
<div>
    @* @Html.ActionLink("Back to List", "Index") *@
</div>