html { background: transparent url('images/webx-bkg.png') repeat-x; margin: 0; padding: 0; }
body { font-family: "Segoe UI", Tahoma, Helvetica, Arial, Sans-Serif; margin: 0; padding: 0; line-height: 150%; background: transparent url('images/webx-content-bkg.jpg') no-repeat center top; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; color: #434343; }
        
.container { width: 800px; margin: 0 auto 0 auto; padding: 40px 0 0 0; }
.header { overflow:auto; }
.header img { float: left; padding: 18px 25px 10px 0px; }
.header p { font-weight: bold; }

.setupImg { margin-top: 10px; margin-bottom: 5px; }

h1 { font-size: 1.6em; font-weight: normal; margin-top: 30px; }
h3 { font-size: 1.1em; font-weight: bold; }
        
a { color: #577fae; }
a:hover { color: #92a5bc; }
        
.content { overflow: auto; font-size: 0.9em; padding: 10px 0 10px 0; }
.content .start { float: left;  padding: 0 20px 0 15px; } 
.content .resources { float: left; width: 369px; padding: 0 0 0 30px; border-left: 1px dotted #c7ccd3; } 
.twitter { border-top: 1px dotted #c7ccd3; width: 800px; margin: 0 auto 0 auto; padding: 20px 0 0 0; }
.twitter .twitterfeed { margin: 0 auto 0 auto; width: 740px; }
        
.azureInfo { width: 200px; } 

.footer { font-size: 0.7em; margin: 20px 0 20px 0; padding: 15px 0px 0px 0px; list-style: none; border-top: 1px dotted #c7ccd3; overflow: auto; }
.footer li { width: 49%; text-align: left; float: left; color: #999999; }
.footer li:first-child { width: 49%; text-align: right; float: right; color: #434343; }

.code { background-color: White; border: Black 1px dotted; padding-left: 3px; line-height: 130%; margin-top: 5px; margin-bottom: 5px; padding:5px }

.codeIndent1{ margin-left: 30px; }
.codeIndent2{ margin-left: 60px; }

.highlight { background-color:#e1e1e1; }

 table.plugins {
    width: 350px;
    border-collapse: collapse;
    text-align: center;
    margin: 20px;
}

.plugins th {
    font-weight: bold;
    border-bottom: 2px solid black;            
}

.plugins td {
    border-bottom: 1px solid #CCCCCC;            
}

.dg_table {
    border-collapse: collapse;
    font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
    font-weight: normal;
    text-align: left;
}

.dg_header {
    background-color: Grey;
    font-weight: bold;
    color: #FFF;
}

.dg_table th, .dg_table td {
    border:1px solid #C0C0C0;
    padding: 5px;
}

.dg_altrow {
    background-color: #EAF2D3;
    color: #000;
}

.dg_header a:active, .dg_header a:hover, .dg_header a:link, .dg_header a:visited {
    color: #FFF;
    text-decoration: none;
}

/*API Reference*/
table.memberdecls {
	border-spacing: 0px;
	padding: 0px;
}

.mdescLeft, .mdescRight,
.memItemLeft, .memItemRight,
.memTemplItemLeft, .memTemplItemRight, .memTemplParams {	
	border: none;
	margin: 4px;
	padding: 1px 0 0 8px;
}

.mdescLeft, .mdescRight {
	padding: 0px 8px 4px 8px;
	color: #555;
}

.memItemLeft, .memItemRight, .memTemplParams {
	border-top: 1px solid #C4CFE5;    
}

.memItemLeft, .memTemplItemLeft {
        white-space: nowrap;
        vertical-align: top;
}

.memItemLeft {
    text-align: right;
}

.memItemLeft, .memTemplItemLeft {
        white-space: nowrap;
}

.memTemplParams {
	color: #4665A2;
        white-space: nowrap;
}

.navLinks  {
    float: right; 
    margin-top: 20px; 
    font-size: 12px; 
}
