@************************************************************************
*** Notes:
*** We will need a model here; also, the button names are generated in
*** Machete by the .resx file values based on the Culture setting...
*** That will have to be changed when we get out of the stub.
*** This goes for ALL buttons/tabs.
*@

<div id="reportTabs">
    <ul>
        <li><a href="#summary" id="summaryTab" >Summaries</a> </li>
        <li><a href="#workers" id="workersTab" >Workers</a> </li>
        <li><a href="#orders" id="ordersTab" >Work Orders</a> </li>
        <li><a href="#activities" id="activitiesTab" >Activities</a> </li>
    </ul>
    <div id="summary"> @* this div is still the ui panel, now with dropdown reports *@
        <input type="button" value="Data Only" class="formButton" id="dataOnlyBtn" />
        <input type="button" value="Pie Chart" class="formButton" id="pieChartBtn" />
        <table id="summaryTable" class="display">
            <thead>
                <tr>
                    <th>Total Signins</th>
                    <th>DWC Signins</th>
                    <th>HHH Signins</th>
                    <th>DWC Dispatch</th>
                    <th>HHH Disptach</th>
                    <th>Total Hours</th>
                    <th>Total Income</th>
                    <th>Average Hourly</th>
                </tr>
            </thead>
        </table>
        <div id="dataOnlyDiv">
            <h3 style="color:blue;">BLUE FISH</h3>
        </div>
        <div id="sorryNoPieCharts">
            <h3 style="color:red;">Sorry, pie charts aren't available yet!</h3>
        </div>
    </div>
    <div id="workers" style="display:none;">
        <p />
        <a href="/ReportServer/Pages/ReportViewer.aspx?%2fUnited_Way_Demographics-Filtered&rs:Command=Render" target="_blank">United Way Demographics</a>
        <p />
        <a href="/ReportServer/Pages/ReportViewer.aspx?%2fActive+workers+sorted+by+MemberID--All+fields&rs:Command=Render" target="_blank">All Workers</a>
        <p />
        <a href="/ReportServer/Pages/ReportViewer.aspx?%2fActive+workers+with+expired+membership+dates&rs:Command=Render" target="_blank">Active workers with expired memberships</a>
        <p />
        <a href="/ReportServer/Pages/ReportViewer.aspx?%2fActive+workers+with+impossible+membership+dates&rs:Command=Render" target="_blank">Active workers with impossible membership dates</a>
        <p />
        <a href="/ReportServer/Pages/ReportViewer.aspx?%2fActive+workers+with+one+or+more+skills&rs:Command=Render" target="_blank">Active workers with specialty skills</a>
        <p />
        <a href="/ReportServer/Pages/ReportViewer.aspx?%2fWorkers-signins+past+membership+expiration&rs:Command=Render" target="_blank">Workers-Signins with expired memberships</a>
        <p />
        <a href="/ReportServer/Pages/ReportView.aspx?%2fWorkers-Yearly+Seattle+HSD+report&rs:Command=Render" target="_blank">Workers-Yearly client profile report</a>
        <p />
        <a href="/ReportServer/Pages/ReportView.aspx?%2fWorkers-Detailed+report&rs:Command=Render" target="_blank">Workers-Detailed Membership report</a>
    </div>
    <div id="orders" style="display:none;">
        <p />
        <a href="/ReportServer/Pages/ReportViewer.aspx?%2fWork+orders-Status+summary+by+day&rs:Command=Render" target="_blank">Daily work order statuses</a>
        <p />
        <a href="/ReportServer/Pages/ReportViewer.aspx?%2fWork+orders-Incomplete+orders&rs:Command=Render" target="_blank">Incomplete Work Orders (List)</a>
        <p />
        <a href="/ReportServer/Pages/ReportViewer.aspx?%2fWork+orders-Status+summary&rs:Command=Render" target="_blank">Monthly work order and assignment statuses (bar charts)</a>
        <p />
        <a href="/ReportServer/Pages/ReportViewer.aspx?%2fYearToYearComparisonReport&rs:Command=Render" target="_blank">Comparison of work orders from 2011 to 2012 by month.</a>
    </div>
    <div id="activities" style="display:none;">
        <p />
        <a href="/ReportServer/Pages/ReportViewer.aspx?%2fActivities-Class+hours+split+by+test+date&rs:Command=Render" target="_blank">Activities-Class hours split by test date</a>
        <p />
        <a href="/ReportServer/Pages/ReportViewer.aspx?%2fActivities-Worker+class+hours+by+month+and+year&rs:Command=Render" target="_blank">Activities-Worker class hours by month and year</a>
    </div>
</div>

<script type="text/javascript">
//what button?
    $(document).ready(function () {
        $('.formButton').button();

        ///////////////////////////////////////////
        //
        // This is the table display, requires an
        // AjaxHandler at the controller level --
        // TODO: Add AjaxHandler at controller level
        // (Reports.cs)
        //
        //
    var oTable = {
        "bPaginate": true,
        "bLengthChange": true,
        "aaSorting": [[4, "desc"]],
        "bFilter": true,
        "bSort": true,
        "bInfo": true,
        "iDeferLoading": true,
        "bAutoWidth": false,
        "bServerSide": true,
        "sAjaxSource": "/Reports/AjaxHandler", // this doesn't exist yet
        "bProcessing": true,
        "oLanguage": datatable_lang_@(CI.TwoLetterISOLanguageName),
            "aoColumns": [
                            { "mDataProp": "tabref", "bSearchable": false, "bSortable": false, "bVisible": false },
                            { "mDataProp": "tablabel", "bSearchable": false, "bSortable": false, "bVisible": false },
                            { "mDataProp": "EID", "bSearchable": false, "bSortable": false, "bVisible": false },
                            { "mDataProp": "date" }, // not sure about the top three, so started here
                            { "mDataProp": "totalSignins" },
                            { "mDataProp": "totalDWCSignins" },
                            { "mDataProp": "totalHHHSignins" },
                            { "mDataProp": "dispatchedDWCSignins" },
                            { "mDataProp": "dispatchedHHHSignins" },
                            { "mDataProp": "totalHours" },
                            { "mDataProp": "totalIncome" },
                            { "mDataProp": "avgIncomePerHour" },
            ],
            "aoSearchCols": [null, null, null, null, null, null, null, null, null, null, null, null],
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                $(nRow).attr("edittabref", aData["tabref"]);
                $(nRow).attr("edittablabel", aData["tablabel"]);
                return nRow;
            }
    };

        $('#reportTabs').mUI('createTabs', {
            prefix: "ui-tabs-reports-",
            formLevel: 1,
            changeConfirm: "(Machete.Web.Resources.Shared.changeConfirm)",
            changeTitle: "(Machete.Web.Resources.Shared.changeTitle)"
            // ^ absolutely no idea what these do 
            // we're about to find out!
        });

        $('#dataOnlyBtn').click(function () {
            $('#dataOnlyDiv').show();
            $('#sorryNoPieCharts').hide();
        });

        $('#pieChartBtn').click(function () {
            $('#dataOnlyDiv').hide();
            $('#sorryNoPieCharts').show();
        });
    });
    $('.ui-datepicker').datepicker({
        dateFormat: 'mm/yy'
    });
</script>

