@{
    ViewBag.Title = "Reports";
}

<div id="homeTabs">
    <ul>
        <li><a href="#summary" id="summaryTab" >@Machete.Web.Resources.Reports.summaryTab</a> </li>
        <li><a href="#workers" id="workersTab" >@Machete.Web.Resources.Reports.workersTab</a> </li>
        <li><a href="#orders" id="ordersTab" >@Machete.Web.Resources.Reports.ordersTab</a> </li>
        <li><a href="#activities" id="activitiesTab" >@Machete.Web.Resources.Reports.activitiesTab</a> </li>
    </ul>
    <div id="summary">
        <h3>Microsoft Report Server</h3>
        Reports are generated using the Microsoft SQL Server Reporting Service (SSRS). It is a separate application from Machete.<p />
        The report server provides a very basic page to access all reports available on it. That link is here:<p/>
        <a href="/ReportServer/" target="_blank">SSRS - Report Server</a>
        <h3>Report login</h3>
        Machete is not integrated into the Domain security system, so you have to type in a password for the report server. <p />
        The ID is: reports <p />
        The password is: reports
        <hr />             
        <a href="/ReportServer/Pages/ReportViewer.aspx?%2fWork+orders-Monthly+status+report&rs:Command=Render" target="_blank">Monthly Status Report (City data)</a>
        <p />
        <a href="/ReportServer/Pages/ReportViewer.aspx?%2fWorkers-Monthly+dispatch+summary+with+detail&rs:Command=Render" target="_blank">Monthly dispatch with daily details</a>
        <p />
        <a href="/ReportServer/Pages/ReportViewer.aspx?%2fWork+Orders-Status+distribution-Last+four+weeks&rs:Command=Render" target="_blank"> Weekly work order statuses (Pie charts)</a>
        <p />
        <a href="/ReportServer/Pages/ReportViewer.aspx?%2fWork+orders-Status+summary+pie+charts&rs:Command=Render" target="_blank">Monthly work order statuses (Pie charts)</a>
    </div>
    <div id="workers">
        <p />
        <a href="/ReportServer/Pages/ReportViewer.aspx?%2fUnited_Way_Demographics-Filtered&rs:Command=Render" target="_blank">United Way Demographics</a>
        <p />
        <a href="/ReportServer/Pages/ReportViewer.aspx?%2fActive+workers+sorted+by+MemberID--All+fields&rs:Command=Render" target="_blank">All Workers</a>
        <p />
        <a href="/ReportServer/Pages/ReportViewer.aspx?%2fActive+workers+with+expired+membership+dates&rs:Command=Render" target="_blank">Active workers with expired memberships</a>
        <p />
        <a href="/ReportServer/Pages/ReportViewer.aspx?%2fActive+workers+with+impossible+membership+dates&rs:Command=Render" target="_blank">Active workers with impossible membership dates</a>
        <p />
        <a href="/ReportServer/Pages/ReportViewer.aspx?%2fActive+workers+with+one+or+more+skills&rs:Command=Render" target="_blank">Active workers with specialty skills</a>
        <p />
        <a href="/ReportServer/Pages/ReportViewer.aspx?%2fWorkers-signins+past+membership+expiration&rs:Command=Render" target="_blank">Workers-Signins with expired memberships</a>
        <p />
        <a href="/ReportServer/Pages/ReportView.aspx?%2fWorkers-Yearly+Seattle+HSD+report&rs:Command=Render" target="_blank">Workers-Yearly client profile report</a>
        <p />
        <a href="/ReportServer/Pages/ReportView.aspx?%2fWorkers-Detailed+report&rs:Command=Render" target="_blank">Workers-Detailed Membership report</a>
    </div>
    <div id="orders">
        <p />
        <a href="/ReportServer/Pages/ReportViewer.aspx?%2fWork+orders-Status+summary+by+day&rs:Command=Render" target="_blank">Daily work order statuses</a>
        <p />
        <a href="/ReportServer/Pages/ReportViewer.aspx?%2fWork+orders-Incomplete+orders&rs:Command=Render" target="_blank">Incomplete Work Orders (List)</a>
        <p />
        <a href="/ReportServer/Pages/ReportViewer.aspx?%2fWork+orders-Status+summary&rs:Command=Render" target="_blank">Monthly work order and assignment statuses (bar charts)</a>
        <p />
        <a href="/ReportServer/Pages/ReportViewer.aspx?%2fYearToYearComparisonReport&rs:Command=Render" target="_blank">Comparison of work orders from 2011 to 2012 by month.</a>
    </div>
    <div id="activities">
        <p />
        <a href="/ReportServer/Pages/ReportViewer.aspx?%2fActivities-Class+hours+split+by+test+date&rs:Command=Render" target="_blank">Activities-Class hours split by test date</a>
        <p />
        <a href="/ReportServer/Pages/ReportViewer.aspx?%2fActivities-Worker+class+hours+by+month+and+year&rs:Command=Render" target="_blank">Activities-Worker class hours by month and year</a>
    </div>
</div>




<script type="text/javascript">
    $(document).ready(function () {
        $('#homeTabs').tabs();
        //$('#newsAccordion').accordion();
    });
</script>
