<div id="ssrsWrapper" class="reportWrapper">
    <div id="ssrs" class="report-padding-left-half">
        <h3>Microsoft Report Server</h3>
        SSRS (SQL Server Reporting Services) Reports are generated using the Microsoft SQL Server Reporting Service (SSRS).<p />
        <strong>It is a separate application from Machete.</strong> It must be purchased and configured separately.<p />
        SSRS provides a very basic page to access all reports available on it.<p />
        <a class="formButton" href="/ReportServer/" target="_blank">SSRS - Report Server</a>
    </div>
</div>
