@model Machete.Web.ViewModel.WorkOrderGroupPrintView

@if (!Model.orders.Any())
{
    <h3> @Html.Encode(Machete.Web.Resources.WorkOrders.groupviewerror) </h3>
}
else
{
foreach (Machete.Web.ViewModel.WorkOrderMVC order in Model.orders)
{
    @await Html.PartialAsync("View", order);
    <div style="page-break-before: always;">
    </div>
}
}
<script type="text/javascript">
    $(document).ready(function () {
        $('.formButton').hide();
        $('#printOrder:first').show();
    });
</script>
