@model Machete.Domain.WorkOrder
@using Machete.Web.Helpers
@using Machete.Domain.Resources
@using Machete.Web.Resources
@using Machete.Service
@{
    System.Globalization.CultureInfo CI = (System.Globalization.CultureInfo)Session["Culture"];
}

<div id="woPaypalTabs" >
    <ul>
        <li><a href="#" id="paypalTab" class="ListTab">@Machete.Domain.Resources.WorkOrder.paypal</a> </li>
    </ul>

    <div>
    <h1>Payment Error</h1>
    <p>An error has occurred while processing your payment - the transaction has not been completed.</p>
    <p>Contact Casa Latina during business hours if you have any questions/issues.</p>
    <br />
    </div>
    
</div>
    

<script type="text/javascript">

    $(document).ready(function () {

        $('#woPaypalTabs').tabs();

    });
</script>
