@model Machete.Domain.WorkOrder
@using Machete.Web.Helpers
@using Machete.Domain.Resources
@using Machete.Web.Resources
@using Machete.Service
@{
    System.Globalization.CultureInfo CI = (System.Globalization.CultureInfo)Session["Culture"];
}

<div id="woPaypalTabs" >
    <ul>
        <li><a href="#" id="paypalTab" class="ListTab">@Machete.Web.Resources.WorkOrders.orderConfirmation</a> </li>
    </ul>
@using (Html.BeginForm("PaymentPre", "HirerWorkOrder", FormMethod.Post,
                        new { @class = "edittab-form EditPost", @id = "WorkOrderTab-" + Model.ID }))
{
    <input type="hidden" name="orderId" id="id" value="@(Model.ID)">
    <div>
        <h1>Transportation Fees - PayPal Cancellation</h1>
        <p>There are transportation fees for worker(s) to arrive by bus or van. The transportation fees must be paid before a Work Order can be confirmed</p>
        <p>You have chosen to cancel the PayPal payment - the transportation fees must be paid in advance for the Work Order to be confirmed.</p>
        <p>Either contact Casa Latina during business hours to make the payment or select the button below to pay using PayPal.</p>
        <p>The Work Order Number is: @(Model.ID)</p>
        <p>The transportation fee (paid to worker center) is: $@(Model.transportFee).00</p>
        <br />
    </div>
    <div class="tb-table">
        <div class="tb-row">
            <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" class"btTxt submit" id="paypal" class="paypal" align="left" style="margin-right:7px;">
            <button type="button" class="btn btn-default formButton" id="proceed" name="proceed" onclick="location.href='@Url.Action("PaymentComplete", "HirerWorkOrder")'" value="proceed">Proceed Without Payment</button>
        </div>
    </div>
    
}
</div>

<script type="text/javascript">

    $(document).ready(function () {

        $('#woPaypalTabs').tabs();

        $('.formButton').button();
    });
</script>
