@model Machete.Domain.WorkOrder
@using Machete.Web.Helpers
@using Machete.Domain.Resources
@using Machete.Web.Resources
@using Machete.Service
@{
    System.Globalization.CultureInfo CI = (System.Globalization.CultureInfo)Session["Culture"];
}

<div id="woPaypalTabs" >
    <ul>
        <li><a href="#" id="paypalTab" class="ListTab">@Machete.Web.Resources.WorkOrders.orderConfirmation</a> </li>
    </ul>

@using (Html.BeginForm("Index", "HirerWorkOrder", FormMethod.Get,
                        new { @class = "edittab-form EditPost", @id = "WorkOrderTab-" + Model.ID }))
{
    <div>
    <h1>Payment Error</h1>
    <p>An error has occurred while processing your payment - the transaction has not been completed.</p>
    <p>Contact Casa Latina during business hours if you have any questions/issues.</p>
    <br />
    </div>
    
    <div class="tb-table">
        <div class="tb-row">
            <input type="hidden" name="orderId" id="orderId" value="@(Model.ID)">
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-default formButton" id="hireWorker" name="hireWorker" value="hireWorker">Hire Another Worker</button>
    </div>    
}
</div>
    

<script type="text/javascript">

    $(document).ready(function () {

        $('#woPaypalTabs').tabs();

    });
</script>
