@using Machete.Web.Helpers
@using Machete.Domain.Resources
@using Machete.Web.Resources
@using Machete.Service
@{
    System.Globalization.CultureInfo CI = (System.Globalization.CultureInfo)Session["Culture"];
}

<div id="woPaypalTabs" >
    <ul>
        <li><a href="#" id="paypalTab" class="ListTab">@Machete.Web.Resources.WorkOrders.orderConfirmation</a> </li>
    </ul>
@using (Html.BeginForm("Index", "HirerWorkOrder", FormMethod.Get,
                        new { @class = "edittab-form EditPost", @id = "paypalCancel" }))
{
    <div>
        <h1>Transportation Fees - PayPal Cancellation</h1>
        <p>There are transportation fees for worker(s) to arrive by bus or van. The transportation fees must be paid before a Work Order can be confirmed</p>
        <p>You have chosen to pay the transportation fee by calling our center. Your order is pending and we will be waiting to hear from you to confirm.</p>
        <p>Please call 206.956.0779 x3 during <a href="#" id="businessHoursModal">business hours</a> to pay the fee and confirm your order.</p>
        <p>Thank you for hiring Casa Latina Workers</p>
        <br />
    </div>
    <div class="tb-table">
        <div class="tb-row">
            <input type="submit" class="btn btn-default formButton" id="hireWorker" name="hireWorker" value="Hire A Worker" />
        </div>
    </div>
    <div id="businessHoursDialog" title="@Machete.Web.Resources.WorkOrders.businessHoursModal" class="display" style="display: none">
        @if (CI.TwoLetterISOLanguageName.ToUpperInvariant() == "EN") {
            @Html.Raw(ViewBag.def.getConfig("BusinessHours_EN"))
        } else {
            @Html.Raw(ViewBag.def.getConfig("BusinessHours_ES"))
        }
    </div>    
}
</div>

<script type="text/javascript">

    $(document).ready(function () {

        $('#woPaypalTabs').tabs();

        $('.formButton').button();
        $('#businessHoursModal').click(function () {

            $("#businessHoursDialog").dialog({
                height: 400,
                width: 450,
                position: "fixed",
                top: "50%",
                modal: true
            });

            $('#businessHoursDialog').show();
        });
    });
</script>
