@using Machete.Web.Helpers
@using Machete.Domain.Resources
@using Machete.Web.Resources
@using Machete.Service
@{
    System.Globalization.CultureInfo CI = (System.Globalization.CultureInfo)Session["Culture"];
}
<div id="woDispatchTabs" >
    <ul>
        <li><a href="/HirerWorkOrder/Create" id="pendingOrderListTab" class="ListTab">@Machete.Web.Resources.WorkOrders.hirerAccount</a> </li>
        <li><a href="/HirerWorkOrder/List" id="hirerAccountTab" class="ListTab">@Machete.Web.Resources.WorkOrders.workOrders</a> </li>
        <li><a href="/HirerAccount/Edit/1" id="hirerProfileTab" class="ListTab">@Machete.Web.Resources.WorkOrders.hirerProfile</a> </li>
    </ul>
<script type="text/javascript">

    $(document).ready(function () {
        ////////////////////////////////////////////////////////////////
        //
        // Setup work order Tabs
        //
        $('#woDispatchTabs').tabs();

    });
</script>
