@model Machete.Domain.WorkOrder
@using Machete.Web.Helpers
@using Machete.Domain.Resources
@using Machete.Web.Resources
@using Machete.Service
@{
    System.Globalization.CultureInfo CI = (System.Globalization.CultureInfo)Session["Culture"];
}

@using (Html.BeginForm("PaymentPre", "HirerWorkOrder", FormMethod.Post,
                        new { @class = "edittab-form EditPost", @id = "WorkOrderTab-" + Model.ID }))
{
    <div>
    <h1>Transportation Fees</h1>
    <p>There are transportation fees for worker(s) to arrive by bus or van. The transportation fees must be paid before a Work Order can be confirmed</p>
    <p>You must pay in advance for the transportaion fees by selecting the PayPal link below. You will be taken to PayPal to authenticate & then returned to this site to complete the purchase. You must complete all steps in order for the order to be confirmed.</p>
    <p>Contact Casa Latina during business hours if you have any questions/issues.</p>
        <p>The Work Order Number is: @(Model.ID)</p>
        <p>The transportation fee is: $@(Model.transportFee).00</p>
    <br />
    </div>
    <div class="tb-table">
        <div class="tb-row">
            <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" class"btTxt submit" id="paypal" class="paypal" align="left" style="margin-right:7px;">
            <input type="hidden" name="orderId" id="orderId" value="@(Model.ID)">
        </div>
    </div>
    
}
<script type="text/javascript">

    $(document).ready(function () {

    });
</script>
