<connectionStrings>
  <add name="MacheteConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Database=machete_test;Trusted_Connection=True" providerName="System.Data.SqlClient" />
  <add name="ELMAHlog" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Database=machete_test;Trusted_Connection=True" providerName="System.Data.SqlClient" />
</connectionStrings>
