<connectionStrings>
   <add name="macheteConnection" connectionString="Server=tcp:o68f62alva.database.windows.net,1433;Database=machete_casa_test;User ID=ndlonmachete@o68f62alva;Password=***REMOVED***;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
   <add name="ELMAHlog" connectionString="Server=tcp:o68f62alva.database.windows.net,1433;Database=machete_casa_test;User ID=ndlonmachete@o68f62alva;Password=***REMOVED***;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
</connectionStrings>