<?xml version="1.0" ?>
<nlog autoReload="true" throwExceptions="true" internalLogFile="C:\inetpub\wwwroot\machete-test\nlog_internal.txt" internalLogLevel="Debug"
      internalLogToConsole="true">
    <extensions>
        <add assembly="NLog.Extended" />
    </extensions>
    <targets>
        <target name="database" type="Database">
            <dbprovider>mssql</dbprovider>
            <connectionString>Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=machetelog_test;Data Source=.\SQLEXPRESS</connectionString>
            <commandText>
                insert into NLog ([time_stamp],[level],[host],[type],[source],[logger],[message],[stacktrace],[username],[RecordID]) values(@time_stamp,@level,@host,@type,@source,@logger,@message,@stacktrace, @AspNetUserIdentity, @RecordID);
            </commandText>

            <parameter name="@time_stamp" layout="${Date}" />
            <parameter name="@level" layout="${level}" />
            <parameter name="@host" layout="${machinename}" />
            <parameter name="@type" layout="${exception:format=type}" />
            <parameter name="@source" layout="${callsite:className=false:fileName=false:includeSourcePath=false:methodName=true}" />
            <parameter name="@logger" layout="${logger}" />
            <parameter name="@message" layout="${message}" />
            <parameter name="@stacktrace" layout="${exception:stacktrace}" />
            <parameter name="@AspNetUserIdentity" layout="${aspnet-user-identity}${event-context:item=username}" />
            <parameter name="@RecordID" layout="${event-context:item=RecordID}" />
        </target>
        <target name="f1" type="File" fileName="C:\inetpub\wwwroot\machete-test\Nlog_database_out.txt">
        </target>

    </targets>

    <rules>
        <logger name="*" minlevel="Debug" appendTo="database" />
        <logger name="*" minlevel="Debug" appendTo="f1" />
    </rules>
</nlog>