<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <!--The ASP.NET bundling is causing an error in the js ... leaving debug on until done with angular conversion-->
    <!--<compilation xdt:Transform="RemoveAttributes(debug)" />-->
    <!--
      If you are deploying to a cloud environment that has multiple web server instances,
      you should change session state mode from "InProc" to "Custom". In addition,
      change the connection string named "DefaultConnection" to connect to an instance
      of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState xdt:Transform="Replace" mode="Custom" customProvider="DefaultSessionProvider" timeout="120">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="MacheteConnection" />
      </providers>
    </sessionState>

  </system.web>
  <system.webServer>
    <rewrite xdt:Transform="InsertIfMissing">
      <rules>
        <rule name="Redirect to https" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>