<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings configSource="connections.config" xdt:Transform="Replace" />
  <appSettings xdt:Transform="Replace">
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="OrganizationName" value="Your Organization Name" />
    <add key="EmailServerHostName" value="yourdomain.org" />
    <add key="EmailServerPort" value="587" />
    <add key="EmailEnableSSL" value="true" />
    <add key="SmtpUser" value="hireaworker@yourdomain.org" />
    <add key="SmtpPassword" value="yourpassowrd" />
    <add key="EmailFromAddress" value="hireaworker@yourdomain.org"/>
    <add key="EmailEnableSimple" value="true"/>
    <add key="CenterUsesDuplicateSigninList" value="true" />
    <add key="CenterUsesDuplicateDailyList" value="true" />
    <add key="TimeZoneDifferenceFromPacific" value="0" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.webServer>
    <rewrite xdt:Transform="InsertIfMissing">
      <rules>
        <rule name="Redirect to https">
          <match url="(.*)" />
          <conditions>
            <add input="{SERVER_PORT}" pattern="443" negate="true" />
          </conditions>
          <action type="Redirect" url="https://pasadena.machetessl.org/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <nlog xdt:Transform="Replace" autoReload="true" throwExceptions="true" internalLogFile="C:\inetpub\wwwroot\machete-pasadena\nlog_internal.txt" internalLogLevel="Debug"
    internalLogToConsole="true">
    <extensions>
      <add assembly="NLog.Extended" />
    </extensions>
    <targets>
      <target name="database" type="Database" dbprovider="mssql" connectionStringName="ELMAHlog">
        <commandText>
          insert into NLog ([time_stamp],[level],[host],[type],[source],[logger],[message],[stacktrace],[username],[RecordID]) values(@time_stamp,@level,@host,@type,@source,@logger,@message,@stacktrace,@AspNetUserIdentity, @RecordID);
        </commandText>
        <parameter name="@time_stamp" layout="${Date}" />
        <parameter name="@level" layout="${level}" />
        <parameter name="@host" layout="${machinename}" />
        <parameter name="@type" layout="${exception:format=type}" />
        <parameter name="@source" layout="${callsite:className=false:fileName=false:includeSourcePath=false:methodName=true}" />
        <parameter name="@logger" layout="${logger}" />
        <parameter name="@message" layout="${message}" />
        <parameter name="@stacktrace" layout="${exception:stacktrace}" />
        <parameter name="@AspNetUserIdentity" layout="${aspnet-user-identity}${event-context:item=username}" />
        <parameter name="@RecordID" layout="${event-context:item=RecordID}" />
      </target>
      <target name="f1" type="File" fileName="C:\inetpub\wwwroot\machete-pasadena\Nlog_database_out.txt">
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" appendTo="database" />
      <logger name="*" minlevel="Debug" appendTo="f1" />
    </rules>
  </nlog>
</configuration>