@{
    ViewBag.Title = @Machete.Web.Resources.ValidationStrings.ChangeTitle;
}

<h2>@Machete.Web.Resources.ValidationStrings.ChangeTitle</h2>
<p>
    @Machete.Web.Resources.ValidationStrings.ChangeSuccess
</p>
