@using Machete.Web.ViewModel;
@using Microsoft.AspNetCore.Identity;
@{
    ViewBag.Title = "Manage Account";
}
<div class="account-background">
    <h2>@ViewBag.Title</h2>

    <p class="text-success">@ViewBag.StatusMessage</p>
    <div class="row">
        <div class="col-md-12">
            @if (ViewBag.HasLocalPassword) {
                @await Html.PartialAsync("_ChangePasswordPartial")
            } else {
                @await Html.PartialAsync("_SetPasswordPartial")
            }
        </div>
    </div>
</div>
